.app {
  text-align: center;
}
.main {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  height: calc(100vh - 88px);
}
